<object id="__sse{{ id }}" width="425" height="355">
  <param name="movie"
    value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc={{ doc }}" />
  <param name="allowFullScreen" value="true"/>
  <param name="allowScriptAccess" value="always"/>
  <embed name="__sse{{ id }}"
    src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc={{ doc }}"
    type="application/x-shockwave-flash"
    allowscriptaccess="always"
    allowfullscreen="true"
    width="425"
    height="355">
  </embed>
</object>
